<div class="wrapper">
  <h2>Livros:</h2>
  <table>
    <thead>
      <tr>
        <th>Nome:</th>
        <th>Ano:</th>
        <th>Area de conhecimento:</th>
        <th>Autor:</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let livro of livros">
        <td>Nome: {{ livro.livroNome }}</td>
        <td>Ano: {{ livro.ano }}</td>
        <td>Area de conhecimento: {{ livro.areaNome }}</td>
        <td>Autor: {{ livro.autor }}</td>
        <td>
          <button class="deleteBtn" (click)="deleteLivro(livro)">Delete</button>
          <button class="editBtn" routerLink="/list-livros/edit-livro:id" (click)="navigateToEditPage(livro.livroId)">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div><button routerLink="" class="addArea">Cadastrar livros</button></div>
</div>
