<div class="wrapper">
  <h2>{{ livro.livroNome }}</h2>
  <form>
    <label for="livroNome">Título do livro:</label>
    <input
      [(ngModel)]="livro.livroNome"
      placeholder="Título"
      name="livroNome"
    />

    <label for="ano">Ano:</label>
    <input [(ngModel)]="livro.ano" type="number" placeholder="Ano" name="ano" />

    <label for="autor">Autor:</label>
    <input [(ngModel)]="livro.autor" placeholder="Autor" name="autor" />

    <label for="areaId">Área de Conhecimento:</label>
    <select [(ngModel)]="livro.areaId" name="areaId">
      <option>Select</option>
      <option *ngFor="let v of areasDeConhecimento" [value]="v.areaId">
        {{ v.areaId }} {{ v.areaNome }}
      </option>
    </select>

    <button type="button" (click)="editLivro(livro)" [disabled]="!areasDeConhecimento">Atualizar dados</button>
  </form>
</div>
