<div class="wrapper" *ngIf="livro">
  <h1>{{ livro.livroNome }}</h1>
  <form>
    <label for="livroNome">Título do livro:</label>
    <input [(ngModel)]="livro.livroNome" placeholder="Título" name="livroNome" />

    <label for="ano">Ano:</label>
    <input [(ngModel)]="livro.ano" type="number" placeholder="Ano" name="ano" />

    <label for="autor">Autor:</label>
    <select [(ngModel)]="livro.autorId" name="autorId">
      <option *ngFor="let a of autores" [value]="a.autorId">
        {{a.autorId}} {{a.autorNome}}
      </option>
    </select>

    <label for="areaId">Área de Conhecimento:</label>
    <select [(ngModel)]="livro.areaId" name="areaId">
      <option>Select</option>
      <option *ngFor="let v of areasDeConhecimento" [value]="v.areaId">
        {{ v.areaId }} {{ v.areaNome }}
      </option>
    </select>

    <label for="imagem">Capa do livro: </label>
    <input [(ngModel)]="livro.imagem" name="imagem">

    <button type="button" class="add" (click)="editLivro(livro)" [disabled]="!areasDeConhecimento">Atualizar dados</button>
  </form>
</div>
