<div class="wrapper">
  <h2>ÁREAS:</h2>
  <table>
    <thead>
      <tr>
        <th>Área de conhecimento:</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let area of areas">
        <td>Nome: {{ area.areaNome }}</td>
        <td>
          <button class="deleteBtn" (click)="deleteArea(area)">Delete</button>
          <button class="editBtn" routerLink="/area-details/edit-area:id" (click)="navigateToEditPage(area.areaId)">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <button class="details" routerLink="/list-areas/details">Ver mais</button>
    <button class="add" routerLink="/list-areas/cadastrar">
      Cadastrar área
    </button>
  </div>
</div>
