*{
  margin: 0px;
  padding: 0px;
}

nav{
 background-color: #201c17;
 height: 5vh;
 display: flex;
 justify-content: center;
 align-items: center;
}

a{
  text-decoration: none;
  color: aliceblue;
  margin: 25px;
}

