<div class="wrapper">
  <h2>ÁREAS:</h2>
  <table>
    <thead>
      <tr>
        <th>Área de conhecimento</th>

        <th>Livros</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let area of areas">
        <td>{{ area.areaNome }}</td>

        <td>
          <button (click)="getLivrosPorArea(area)">Ver Livros</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="areaSelecionada">
    <h3>Livros da Área: {{ areaSelecionada.areaNome }}</h3>
   
      <div class="livro-card" *ngFor="let livro of livros">
        <div class="livro-card-content">
          <h4>{{ livro.livroNome }}</h4>
          <img [src]="livro.imagem" alt="Capa" width="100" height="100">
          <p>Autor: {{ livro.autor }}</p>
          
        </div>
      
    
  </div>
</div>
